.gameWindow {
    border-radius: 10px;
    box-shadow: 10px 10px #00000042;
}

.CustomBackground {
    background-color: rgb(0, 165, 255);
    color: white;
}

#input-form {
    padding: 15px;
    background-color: #931C22;
}
#input-form input {
    padding: 10px;
    font-size: 20px;
    width: 400px;
}
